@import '../alabaster.css';

div.body {
    width: 100%;
    max-width: 100%;
}

iframe.plot {
    margin: 0;
    padding: 0;
    border: none;
    height: 575px;
    width: 100%;
    overflow: hidden;
}